

:root {
	--color-neutral-light: #eac8ad;
	--color-neutral-lightmedium: #ddded6;
	--color-neutral-medium: #f2e7d5;
	--color-neutral-mediumdark: #262626;
	--color-neutral-dark: #e26c4e;

	--color-black: #000000;
	--color-white: #ffffff;

	
	--font-title: 'Libre Baskerville', serif;
	--font-UI: 'Cormorant Garamond', serif;
	--font-paragraph: 'Nanum Gothic', sans-serif;
}


/*
body{
	background-color: var(--color-offwhite);
}*/

.body {
	background-color: var(--color-neutral-medium);
	padding-bottom: 2em;
	margin: 0 auto;
	margin-right: auto;
	margin-left: auto;
}


.body1{
	background-color: var(--color-neutral-medium);
	padding-bottom: 2em;
	margin: 0 auto;
	margin-right: auto;
	margin-left: auto;
}

.favorite label {
	transition: all 0.3s;
	display: inline-block;
	transform: scale(1, 1);
	color: var(--color--netural-medium);
}

.favorite input:checked + label {
	color: red;
	transform: scale(1.3, 1.3);
}


@media (max-width: 800px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}

	.navbar h1 {
		padding-left: 0.5em;
	}
}

@media (max-width: 400px) {
	.navbar .display-flex {
		display: block;
	}

	.navbar .nav li {
		line-height: 2em;
	}
}

.images-main img {
	width: 100%;
	/*height: 40vh;*/
	object-fit: contain;
}

.images-thumb img {
	width: 8em;
	height: 6em;
	object-fit: contain;
}



span.badge:not(:empty)::before {
	content: '(';
}

span.badge:not(:empty)::after {
	content: ')';
}

/* NAVBAR */

.navr{
	display: flex;
	color: black;
	margin-left: 70px;
	text-decoration: none;
	list-style-type: none;
}

.navr ul>li{
	list-style-type: none;
	text-decoration: none;

}
.navr ul{
	list-style-type: none;
	margin-top: 2em;
	margin-bottom: 0;
	padding-left: 0;
	
}

.navr a{
		font-size:1.2em;
		list-style-type: none;
		color: white;
		display: block;
		padding: 1.2em;
		text-decoration: none;
		font-family: var(--font-UI);

	}


.navr a:hover{

		color: black;
		text-decoration: underline;
	}

/*------------nav1*/

.navr1{
	display: flex;
	color: black;
	margin-left: 70px;
	text-decoration: none;
	list-style-type: none;
}

.navr1 ul>li{
	list-style-type: none;
	text-decoration: none;

}
.navr1 ul{
	list-style-type: none;
	margin-top: 2em;
	margin-bottom: 0;
	padding-left: 0;
	
}

.navr1 a{
		font-size:1.2em;
		list-style-type: none;
		color: black;
		display: block;
		padding: 1.2em;
		text-decoration: none;
		font-family: var(--font-UI);

	}


.navr1 a:hover{

		color: var(--color-neutral-dark);
		text-decoration: underline;
		font-family: var(--font-UI);
	}


/* HERO IMAGE */
.heroimage {
	width: 100%;
	background-image: url("../img/timg.jpg");
	height: 93vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/* HEADER */
.freeship {
	text-align: center;
	background-color: white;
	padding: 10px 0;
	color: #eac8ad;
	font-family: var(--font-paragraph);
}

.freeship h3 {
	margin: 0 auto;
	font-family: var(--font-paragraph);
}


/* TITLE */

.title1{
	text-align: center;
	color: var(--color-white);
	font-size: 3em;
	font-family: var(--font-title);
}
.title {
	text-align: center;
	color: var(--color-black);
	font-size: 2em;
	font-family: var(--font-title);
}

.title h1 {
	font-weight: bolder;
}

/* ABSTRACT */

.ab h2 {
	color: white;
	font-weight: lighter;	
	text-align: center;
	font-family: var(--font-UI);
}

.ab p {
	color: white;
	line-height: 150%;
	font-family: var(--font-UI);
	text-align: center;
}

.form-button1{
	display:inline-block;
	background-color: var(--color-white);
	border-width: 0;
	padding: 0.5em 1em;
	font:inherit;
	-webkit-appearance:none;
	width: 15%;
	color:inherit;
	outline: 0;
	border-radius: 0.2em;
	cursor: pointer;
	text-align: center;
	margin-left: 560px;
	margin-top: 270px;
	font-family: var(--font-paragraph);
}

.form-button1:hover{
	text-decoration: none;
	
}

.form-button1:active{
	background-color: var(--color-neutral-light);
	transform: scale(1.2,1.2);
	text-decoration: underline;
}

/* ORDER */
.order {
	color: var(--color-black);
	font-weight: 300;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 70px;
}

/* DETAIL PAGE*/

.itemTitle, .description, .price {
	/*text-align: center;*/
	color: var(--color-black);
	font-family: var(--font-title);
}

.itemTitle {
	margin-top: 1vh;
    font-weight: 500;
    font-size: 2.5em;
}

.description {
    font-weight: 200;
    min-height: 18vh;
    margin-top: 5vh;
    text-align: left;
}

.price {
    font-family: var(--font-UI);
    font-size: 1.3em;
    text-decoration: none;
}

.price:hover {
	text-decoration: underline;
}
.col-sm{
	margin-top: 10%;
}
.slideshow {
	margin: 0 auto;
	width: 80%;
}

.detailButton {
	/*margin: 5vh auto 0 auto;*/
	width: 50%;
}

/* FOOTER */
.footer1 {
	margin: 0;
	height: 1vh;
	padding: 1vh;
	color: var(--color-black);
	text-align: center;
	font-family: var(--font-title);
	font-size: 0.7em;
}
.footer {
	margin: 0;
	height: 2vh;
	padding: 8vh;
	color: var(--color-black);
	text-align: center;
	font-family: var(--font-title);
	font-size: 0.7em;
}

.flex-none {
	padding-left: 20px;
}




